<meta name="description" content="Official open source SVG icon library for Bootstrap">

<div class="container p-5">
    <div class="row">
        <h4 scope="form-group">Liste des Produits</h4>
        <hr>
        <div class="serch-hero">
            <input class="form-control me-2" type="search" name="recherche" [(ngModel)]="produit.nom"
                placeholder="Recherche par Nom" aria-label="Search">
        </div>
        <hr>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let prod of produits |filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }; let prod.id = index"> -->
                <tr *ngFor="let prod of produits | search:produit.nom">
                    <th scope="row">{{ prod.id }}</th>
                    <td>{{ prod.nom }}</td>
                    <td>{{ prod.prix }}</td>
                    <td>{{ prod.quantite }}</td>
                    <td><button type="button" class="btn btn-outline-success btn-sm" routerLink="edit/{{ prod.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" fill="currentColor"
                                class="bi bi-pen" viewBox="0 0 15 15">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" mwlConfirmationPopover
                            placement="right" (confirm)="destroyData(prod.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
                                </path>
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4 scope="form-group">Ajouter un Produit</h4>
<hr>
<div class="form-group">
    <form (ngSubmit)="insertData()">
        <div class="form-group">
            <div class="lable">Nom</div>
            <input type="text" name="nom" class="form-control" [(ngModel)]="produit.nom">
        </div>
        <div class="form-group">
            <div class="lable">Prix unitaire</div>
            <input type="text" name="prix" class="form-control" [(ngModel)]="produit.prix">
        </div>
        <div class="form-group">
            <div class="lable">Quantité</div>
            <input type="text" name="qunatite" class="form-control" [(ngModel)]="produit.quantite">
        </div>
        <button class="btn btn-info btn-sm mt-4">Ajouter</button>
    </form>
</div>
<hr>
